.digital{
    margin: 1% 1%;
    padding: 1% 1%;
    border-radius: 50px;
    border: 4px solid black;
    color: black;
    background-color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    /* width: fit-content; */
}

.clock-container{
    height: 300px;
    width: 300px;
    border-radius: 50%;
    border: 3px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* width: fit-content; */
}

.middle-circle{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 14
}

.clock-container .hour, 
.clock-container .minute, 
.clock-container .second{
    position: absolute;
}

.clock-container .hour, .hour-hand{
    width: 150px;
    height: 150px;
}

.clock-container .minute, .minute-hand{
    width: 190px;
    height: 190px;
}

.clock-container .second, .second-hand{
    width: 270px;
    height: 270px;
}

.hour-hand, .minute-hand, .second-hand{
    display: flex;
    justify-content: center;
    position: absolute;
    border-radius: 50%;
}

.hour-hand:before{
    content: '';
    position: absolute;
    width: 8px;
    height: 10vh;
    background-color: red;
    z-index: 10;
    border-radius: 6px 6px 0 0;
}

.minute-hand:before{
    content: '';
    position: absolute;
    width: 6px;
    height: 13vh;
    background-color: white;
    z-index: 11;
    border-radius: 6px 6px 0 0;
}

.second-hand:before{
    content: '';
    position: absolute;
    width: 4px;
    height: 160px;
    background-color: lightblue;
    z-index: 12;
    border-radius: 6px 6px 0 0;
}

.hour-val{
    height: 24vh;
    position: absolute;
    bottom: 0;
}

.minute-val{
    height: 28vh;
    position: absolute;
    bottom: 0;
}