.progressbar-visual-container {
    background-color: rgb(233, 233, 233);
    border-radius: 20px;
    height: 2.5em;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    color: black;
    border: 5px solid black;
    z-index: 3;
}

.progressbar-visual {
    background-color: #00bebc;
    height: 2.5em;
    border-radius: 20px;
    position: absolute;
    left: -5px;
    padding: 0;
    margin: 0;
    border-right: 5px solid black;
    border-left: 5px solid black;
    z-index: 1;
}